<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <!--<button class="btn" ng-click="createPost()">Create New Post</button>-->
        <div class="posts lead" ng-repeat="post in posts">
            <h3>{{ post.title }}</h3>
            <h4>by {{ post.author }}</h4>
            <h5>on {{ post.createdAt | date : short }}</h5>
            <br>
            <p>{{ post.content }}</p>
            <div class="services-small"></div>
            <hr class="hr">
            <div class="services-small"></div>
        </div>
    </div>
</div>