<div class="man-bench"></div>
<div class="logo"></div>
<div class="bird"></div>
<div class="subway"></div>
<div class="logo2"></div>

<div class="computer"></div>
<div class="logo3"></div>

<div class="bottom">
    <div class="services">
        <div class="container">
            <div class="col-sm-3 col-sm-offset-2">
                <div class="service-item">
                    <img class="img-portfolio img-responsive" src="../img/steve.jpg"></a>
                </div>
            </div>
            <div class="row text-center container services">
                <div class="col-sm-4">
                    <h2>Steve Sartino</h2>
                    <h4>Web Developer</h4>
                </div>
            </div>
            <hr class="small">
            <br>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="service-item">
                        <a href="http://sartino.altervista.org/SteveSartinoCV.pdf" target="_blank">
                            <img class="img-portfolio img-responsive" src="../img/architectDesk-small.jpg"></a>
                        </span>
                        <h4><strong>Resume</strong></h4>
                        <p>Need a developer?</p>
                        <a href="http://sartino.altervista.org/SteveSartinoCV.pdf" target="_blank" class="btn btn-success">View PDF</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="service-item">
                        <a href="https://www.flickr.com/photos/stolly/" target="_blank">
                            <img class="img-portfolio img-responsive" src="../img/baby-small.jpg"></a>
                        </span>
                        <h4><strong>Family Photos</strong></h4>
                        <p>Some photos of me & my family</p>
                        <a href="https://www.flickr.com/photos/stolly/" target="_blank" class="btn btn-success">View</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="service-item">
                        <img class="img-portfolio img-responsive" src="../img/airport-small.jpg">
                        </span>
                        <h4>
                                    <strong>My Projects</strong>
                                </h4>
                        <p>Coming Soon</p>
                        <a href="#" class="btn btn-success">Coming Soon</a>
                    </div>
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<!--<footer>-->
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4><strong>Steve Sartino</strong>
                    </h4>
            <p>Birmingham, AL</p>
            <ul class="list-unstyled">
                <!--<li><i class="fa fa-phone fa-fw"></i> (205) 563-9391</li>-->
                <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:stevesartino@yahoo.com">stevesartino@yahoo.com</a></li>
                <li><i class="fa fa-linkedin fa-fw"></i> <a href="https://www.linkedin.com/in/sartino" target="_blank">https://www.linkedin.com/in/sartino</a></li>
                <li><i class="fa fa-github fa-fw"></i> <a href="https://github.com/sartino" target="_blank">https://github.com/sartino</a></li>
            </ul>
            <br>
        </div>
    </div>
</div>
<!--</footer>-->
<!--<div ng-include="'views/footer.html'" class="address"></div>-->