<div class="man-bench"></div>
<div class="logo"></div>
<div class="bird"></div>
<div class="subway"></div>
<div class="logo2"></div>
<div class="computer"></div>
<div class="logo3"></div>

<div class="container bottom">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-3">
            <div class="service-item">
                <img class="img-portfolio img-responsive" src="../img/steve.jpg"></a>
            </div>
        </div>
        <div class="row text-center container services">
            <div class="col-sm-4">
                <h2>Steve Sartino</h2>
                <h4>Web Developer</h4>
            </div>
        </div>
        <hr class="hr">
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="service-item center">
                <a href="http://www.sartino.altervista.org/img/SteveSartinoCV.pdf" target="_blank">
                    <img class="img-portfolio img-responsive" src="../img/architectDesk-small.jpg"></a>
                <h4><strong>Need a Developer?</strong></h4>
                <a href="http://www.sartino.altervista.org/img/SteveSartinoCV.pdf" target="_blank" class="btn btn-warning">My Resume</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="service-item center">
                <a href="/#/projects">
                    <img class="img-portfolio img-responsive" src="../img/coffeeDeskSmall.jpg"></a>
                <h4><strong>My Projects</strong></h4>
                <a href="/#/projects" class="btn btn-warning">View</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="center">
                <a href="/#/blog">
                    <img class="img-portfolio img-responsive" src="../img/airport-small.jpg"></a>
                    <h4><strong>My Blog</strong></h4>
                    <a href="/#/blog" class="btn btn-warning">Read</a>
            </div>
        </div>
    </div>
    <br>
    <hr class="hr">
    <br>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4><strong>Steve Sartino</strong></h4>
            <p>Birmingham, AL</p>
            <ul class="list-unstyled">
                <!--<li><i class="fa fa-phone fa-fw"></i> (205) 563-9391</li>-->
                <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:sartino@gmail.com">sartino@gmail.com</a></li>
                <li><i class="fa fa-linkedin fa-fw"></i> <a href="https://www.linkedin.com/in/sartino" target="_blank">https://www.linkedin.com/in/sartino</a></li>
                <li><i class="fa fa-github fa-fw"></i> <a href="https://github.com/sartino" target="_blank">https://github.com/sartino</a></li>
            </ul>
            <br>
        </div>
    </div>
</div>
<!--<div ng-include="'views/footer.html'" class="address"></div>-->