<br>
<br>
<br>
<br>
<div class="lower-three">
    <h3 class="center">Here is a fragmentary list of projects that I have worked on so far.</h3>
    <br>
    <hr class="hr3">
    <br>
    <div class="services-small">
        <h3><strong>‘Conglomerate’</strong></h3>
        <h4>https://github.com/jmblake4/Conglomerate</h4>
        <br>
        <p>• My final project from the developer bootcamp. Me and two other team members conceptualized the project, split the
            workload, used github for version control and gave a 15-minute presentation with a Q&A at the end.
            <br>• ‘Conglomerate’ is a ‘Social Media Manager’. It has a login page that gains access to the dashboard via parse.com
            (MongoDB). Once at the dashboard, you can access up to four different views at one time. They include ‘The Guardian’
            news feed, a weather app that uses your geolocation, a YouTube app and a Movie Database app. Ultimately gmail,
            yahoo mail, twitter and reddit will be added as well.
            <br>• My role in the project was to ‘wire in’ all of the RESTful API’s, build the YouTube and movie app, design the
            logo and aid in the design of the site as well as help Jay with the authentication. I used 6 API’s total: Guardian,
            OpenWeatherMap, YouTube, OMDB, IMDB and parse.com.
            <br>• We built the site with Angular, JavaScript, jQuery, HTML, Bootstrap, Onsen and LESS on the front-end/UI. We
            used node.js, ExpressJS and NoSQL on the back-end along with npm for packaging.</p>
    </div>
    <hr class="hr">
    <div class="services-small">
        <h3><strong>‘LifeSource’</strong></h3>
        <h4>www.lifesourcebirmingham.com
            <br>https://github.com/sartino/Lifesource</h4>
        <br>
        <p>• My first paid developer project. I designed the site, took the photographs and wrote the code for a local therapists
            of ce located in downtown Birmingham. It went live in January, 2016.
            <br>• It is a responsive mobile-friendly static site.
            <br>• I built the site with Angular, JavaScript, jQuery, HTML, Bootstrap and CSS.</p>
        <br>
    </div>
    <hr class="hr">
    <div class="services-small">
        <h3><strong>‘INC Financial Website’</strong></h3>
        <h4>http://incwealth.com
            <br>https://github.com/jmblake4/INCFinancialWeb</h4>
        <br>
        <p>• A class project. Me and two other team members split the workload, used github for version control and gave a 10-minute
            presentation.
            <br>• A graphic designer provided us with PDF’s of what the site should look like. We built the site in one week,
            even with constant design changes along the way.
            <br>• My role in the project was to code the main page and then to go back and make the entire site responsive for
            mobile/tablet.
            <br>• We built it with PlatypusTS (MVC), TypeScript, jQuery, HTML and LESS. It is packaged using npm & Bower with
            a package.json le using browserify, minifyify, nodemon, platypusui, stringify and watchify.</p>
    </div>
    <hr class="hr">
    <div class="services-small">
        <h3><strong>‘Reddit App’</strong></h3>
        <h4>https://github.com/sartino/reddit</h4>
        <br>
        <p>• A class project. I built a browser app that wires up a reddit API.
            <br>• It is a site that is served locally via node.js.
            <br>• I built it with PlatypusTS (MVC), TypeScript, jQuery, HTML, Bootstrap and LESS. It is packaged using npm with
            a package.json le using browserify, minifyify, nodemon, platypusui, stringify and watchify.</p>
    </div>
    <hr class="hr">
    <div class="services-small">
        <h3><strong>‘Blog Site’</strong></h3>
        <h4>https://github.com/sartino/BlogSite</h4>
        <br>
        <p>• A class project. I built a blog app that wires up a parse.com API and utilizes a NoSQL database.
            <br>• It is site that is served locally via node.js.
            <br>• I built it with Angular, TypeScript, HTML, Bootstrap and LESS. It is packaged using npm.</p>
    </div>
</div>